DB_HOST=postgres
DB_NAME=postgres_db
DB_USER=postgres_user
DB_PASSWORD=psswd
DB_PORT=5432  # port inside container

REDIS_ADDR=redis:6379
API_KEY=

GITHUB_TOKEN=

GIN_MODE=release

SMTP_HOST=smtp.zoho.eu
SMTP_PORT=587
SMTP_EMAIL=subber@zohomail.eu
SMTP_PASSWORD=